{
  "presets": [
    ["env", { "targets": { "node": "current" } }]
  ],
  "sourceMap": "inline",
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ]
}
